
		

		

		<!-- HOME -->
		<section id="home" class="homeTop nofull imageOnly color">
			<span class="raster"></span>

			<div  class="visible-lg visible-md">
				<div class="image-caption">
					<div class="inner">
						<h1>Stack Software Solutions</h1>
						<h2>Custom Web and Mobile Application Development</h2>
					</div>
				</div>
			
				<img src="assets/images/preview/slider/0.jpg" alt="" />
			</div>

			<div class="visible-sm visible-xs">
				<div class="image-caption">
					<div class="inner">
						<br/><br/>
						<h1>Stack<br/>Software<br/>Solutions</h1>
						<br/><br/>
						<h2>Custom Web and Mobile<br/>Application Development</h2>
					</div>
				</div>
				<img src="assets/images/preview/slider/1.jpg" alt="" />
			</div>
		</section>
		<!-- /HOME -->


		<!-- HEADER -->
		<header id="header">
			<div class="container">

				<!-- LOGO -->
				<a href="#home" class="pull-left scrollTo"><img src="assets/images/stack_logo.png" height="60" alt="welcome" /></a>

				<!-- MOBILE MENU -->
				<button id="mobileMenu" class="fa fa-bars" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"></button>

				<!-- NAV MENU -->
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul id="onepageNav" class="nav navbar-nav navbar-right"><!-- id="onepageNav" for homepage only -->
						<li class="active"><a href="#home">HOME</a></li>
						<li><a href="#services">SERVICES</a></li>
						
						<li><a href="#team">TEAM</a></li>
						
						<li><a href="#contact">CONTACT</a></li>
						
					</ul>
				</nav>
				<!-- /NAV MENU -->

			</div>
		</header>
		<!-- /HEADER -->

		
		<!-- ABOUT OUR COMPANY -->
		<section id="about" class="color">

			<header>
				<h2 data-animation="bounceIn">ABOUT OUR COMPANY</h2>
				<h3>We design business specific web and native mobile applications</h3>
			</header>

			<!-- content -->
			<article class="container text-left">

				<!-- anout us paragraphs -->
				<figure class="animate_from_left image-left" style="margin-right: -45px;">
					<img alt="about us" class="img-responsive float-left" src="assets/images/preview/content/responsive.png" height="500px" width="75%"  />
				</figure>

				<p class="dropcap">Before anything else, we have to tell you this: We love what we do. By the time we are done building your product, you will love what we do too.  We are a team of passionate individuals who love solving business problems.  Our main focus is to determine how we can utilize technology to better improve business processes and ultimately save the organization money.  We will take the time to understand your business operations and provide the most advanced technical solution to solve your needs.</p>
				<p class="dropcap">People always ask us why our company is called Stack Software Solutions.  It comes from the term “Full Stack Developer”.   A Full Stack Developer is someone with familiarity in each layer, if not mastery in many and a genuine interest in all software technology. Good developers who are familiar with the entire stack know how to make life easier for those around them.  We only work with the best developers that have a true understanding of the discipline of Software Engineering.  These individuals know that technology changes on a daily basis and we, as developers must evolve as well.  Anyone can be a programmer, but only a few can be true software engineers. </p>

				<!-- number animate -->
				<div class="animate_from_bottom text-center">

					<!-- animate 1 -->
					<div class="milestone">
						<i class="fa fa-briefcase"></i> <!-- icon -->
						<span class="countTo">51</span> <!-- number -->
						<span class="countToDesc">Our Projects</span> <!-- short text -->
					</div>

					<!-- animate 2 -->
					<div class="milestone">
						<i class="fa fa-users"></i> <!-- icon -->
						<span class="countTo">26</span> <!-- number -->
						<span class="countToDesc">Our Customers</span> <!-- short text -->
					</div>

					<!-- animate 3 -->
					<div class="milestone">
						<i class="fa fa-twitter"></i> <!-- icon -->
						<span class="countTo">105</span> <!-- number -->
						<span class="countToDesc">Twitter Followers</span> <!-- short text -->
					</div>

				</div>
				<!-- /number animate -->

			</article>

		</section>
		<!-- /ABOUT OUR COMPANY -->


		<!-- SHOP NAME -->
		<section class="page-name parallax" data-stellar-background-ratio="0.5" style="background-image:url(assets/images/preview/slider/parallax_bg.jpg);">
			<span class="overlay"></span>
			<span class="name">
				Build Your Custom Web or <br/>Mobile Solution Today
				<i class="fa fa-arrows-alt"></i>
			</span>
		</section>

		
		
		<!-- BRANDS -->
		<section id="brands">
			<div class="container">

				<!-- BRANDS CAROUSEL -->
				<div class="owl-carousel" data-navigation="false" data-singleitem="false" data-autoplay="true" data-animation="bounceIn">
					<div class="item dragCursor"><img src="assets/images/preview/brands/8.png" height="60" alt="..." /></div>
					<div class="item dragCursor"><img src="assets/images/preview/brands/1.png" height="60" alt="..." /></div>
					<div class="item dragCursor"><img src="assets/images/preview/brands/2.png" height="60" alt="..." /></div>
					<div class="item dragCursor"><img src="assets/images/preview/brands/3.png" height="60" alt="..." /></div>
					<div class="item dragCursor"><img src="assets/images/preview/brands/4.png" height="60" alt="..." /></div>
					<div class="item dragCursor"><img src="assets/images/preview/brands/5.png" height="60" alt="..." /></div>
					<div class="item dragCursor"><img src="assets/images/preview/brands/6.png" height="60" alt="..." /></div>
					<div class="item dragCursor"><img src="assets/images/preview/brands/7.png" height="60" alt="..." /></div>
				</div>

			</div>
		</section>
		<!-- BRANDS -->



		<!-- SERVICES -->
		<section id="services">
			<header>
				<h2 data-animation="bounceIn">OUR SERVICES</h2>
				<h3>Providing excellent service with quality work</h3>
			</header>

			<article class="container">
				<p>
					At Stack Software Solutions we offer state of the art service to our clients.<br/>We partner with businesses to work together throughout the entire software development lifecycle.
				</p>
			</article>

			<article class="container">

				<!-- services boxes -->
				<div class="serviceBoxContainer">
					<!-- box -->
					<div class="serviceBox" data-animation="fadeInUp">
						<i data-animation="rotateIn" class="fa fa-leaf"></i>
						<h4>PROJECT MANAGEMENT</h4>
						<p>We have Project Management Professionals (PMP) who will ensure your project is successful.  We will work closely with your business team to understand the pain points and recommend the best technical solutions.</p>
					</div>
					<!-- /box -->

					<!-- box -->
					<div class="serviceBox" data-animation="fadeInUp">
						<i data-animation="rotateIn" class="fa fa-desktop"></i>
						<h4>WEB APPLICATIONS</h4>
						<p>There are many companies that can build a simple website.  We build enterprise wide applications to meet your needs.  We specialize in technologies like Ruby on Rails, ASP .Net, Java, MS SQL Server, Postgres, and Amazon AWS just to name a few.</p>
					</div>
					<!-- /box -->

					<!-- box -->
					<div class="serviceBox" data-animation="fadeInUp">
						<i data-animation="rotateIn" class="fa fa-mobile"></i>
						<h4>MOBILE APPLICATIONS</h4>
						<p>There are many companies that can build a simple website.  We build enterprise wide applications to meet your needs.  We specialize in technologies like Ruby on Rails, ASP .Net, Java, MS SQL Server, Postgres, and Amazon AWS just to name a few.</p>
					</div>
					<!-- /box -->

					<!-- box -->
					<div class="serviceBox" data-animation="fadeInUp">
						<i data-animation="rotateIn" class="fa fa-cubes"></i>
						<h4>CREATIVE DESIGN</h4>
						<p>There are over 7 billion mobile devices in this world.  Therefore, making your business mobile is key.  We believe developing applications using iOS (Swift) and Android (Java) technologies provide a much better overall experience for your users.</p>
					</div>
					<!-- /box -->

				</div>
				<!-- /services boxes -->

			</article>

		

		</section>
		<!-- /SERVICES -->


		
		
		

		<!-- QUOTE -->
		<section class="quote color parallax" data-stellar-background-ratio="0.5" style="background-image:url(assets/images/preview/slider/parallax_bg.jpg)">

			<div class="container">
				<q>Being the richest man in the cemetery doesn't matter to me. Going to bed at night saying we've done something wonderful, that's what matters to me.</q>
				<cite>
					<strong>Steve Jobs</strong>
				</cite>
			</div>

		</section>
		<!-- QUOTE -->


		<!-- PORTFOLIO -->
		
		<!-- /PORTFOLIO -->

		
		<!-- TEAM -->
		<section id="team">

			<header>
				<h2 data-animation="bounceIn">OUR TEAM</h2>
			</header>


			<!-- team description -->
			<article class="container text-left">			
				<p class="dropcap">Our team in comprised of talented Software Developers, Analysts, and Project Managers.  Our goal is to follow the fundamental principles of software development to ensure the highest quality software product is created.  The team is passionate about what they do and shows in the deliverables.  Contact us today to see how we can help you.</p>
			</article>

			<!-- CAROUSEL -->
		
			<!-- /CAROUSEL -->

		</section>
		<!-- /TEAM -->







		<!-- TESTIMONIALS -->
		<section id="testimonials" class="color parallax" data-stellar-background-ratio="0.5" style="background-image:url(assets/images/preview/slider/parallax_bg.jpg)">

			<div class="container">

				<!-- TESTIMONIALS -->
				<div class="owl-carousel" data-navigation="false" data-singleitem="true" data-autoplay="true" data-animation="bounceIn">
					<!-- testimonial 1 -->
					<div class="item dragCursor">
						<q>
							Being the owner of a startup is difficult enough without having to learn the technical nuances.  Stack Software helped us get off the ground quickly.
						</q>
						<!-- testimonial author -->
						<cite>
							<strong>Howard Retzer</strong> / Customer
						</cite>
					</div>

					<!-- testimonial 2 -->
					<div class="item dragCursor">
						<q>
							When we went into this project, we wanted to partner with a company we could have a long-term relationship with. We found the perfect partners in Stack Software.
						</q>
						<!-- testimonial author -->
						<cite>
							<strong>Alize Wilson</strong> / Customer
						</cite>
					</div>

					
					</div>
				</div>
				<!-- /TESTIMONIALS -->

			</div>

		</section>
		<!-- /TESTIMONIALS -->
		
		
		
		<!-- PRICING -->
		
		<!-- /PRICING -->





		<!-- CONTACT FORM -->
		<section id="contact">

			<header>
				<h2 data-animation="bounceIn">CONTACT US</h2>
				<h3>WE ARE GLAD TO HEAR FROM YOU</h3>
			</header>

			<article class="container">

				<!-- MESSAGE SENT -->
				<div id="alertOk" class="alert alert-success fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<span id="alertOkResponse"><strong>Thank You!</strong> Message sent!.</span>
				</div>
				<!-- /MESSAGE SENT -->

				<!-- MESSAGE NOT SENT -->
				<div id="alertErr" class="alert alert-danger fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<span id="alertErrResponse"><!-- php output --><strong>Not Sent!</strong> Please complete all fields.</span>
				</div>
				<!-- MESSAGE NOT SENT -->

				<div class="row text-left">
					<div class="col-md-6">

						<!-- EMAIL FORM -->
						<form id="emailForm" class="form-horizontal" method="post" action="php/contact.php">
							<input type="hidden" name="action" value="email_send" />

							<!-- name -->
							<div class="form-group">
								<label for="name" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input required class="form-control" type="text" id="name" name="name" value="" />
								</div>
							</div>

							<!-- email -->
							<div class="form-group">
								<label for="email" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input required class="form-control" type="email" id="email" name="email" value="" />
								</div>
							</div>

							<!-- message -->
							<div class="form-group">
								<label for="message" class="col-sm-2 control-label">Message</label>
								<div class="col-sm-10">
									<textarea required class="form-control" id="message" name="message" rows="5"></textarea>
								</div>
							</div>

							<!-- send button -->
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-custom">SEND MESSAGE</button>
								</div>
							</div>
						</form>
						<!-- EMAIL FORM -->

					</div>

					<div class="col-md-6">

						
						
						<p class="animate_fade_in">
							<i class="fa fa-envelope rounded-icon"></i> support@stacksoftwaresolutions.com
						</p>
						<p class="animate_fade_in">
							<i class="fa fa-phone rounded-icon"></i> 714.809.0816
						</p>
					</div>
				</div>


			</article>
		</section>
		<!-- /CONTACT FORM -->

