<!DOCTYPE html>
<html>
<head>
  	<title>Stack Software Solutions</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>

  	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Stack Software Solutions</title>
	<meta name="Author" content="" />


	<!--[if lt IE 9]>
		<script type="text/javascript" src="assets/plugins/lt-ie9/html5.js"></script>
		<script type="text/javascript" src="assets/plugins/lt-ie9/respond.min.js"></script>
		<script type="text/javascript" src="assets/plugins/lt-ie9/excanvas.compiled.js"></script>
	<![endif]--> 

	<!-- GOOGLE FONTS -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />

	<!-- CORE CSS FRAMEWORK -->
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/animate.css" rel="stylesheet" type="text/css" />

	<!-- PLUGINS -->
	<link href="assets/plugins/jquery-owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/prettyPhoto/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css" />


	<!-- CSS TEMPLATE -->
	<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/shop.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/color/blue.css" rel="stylesheet" type="text/css" /><!-- demo default style -->


	<!-- colors : demo only -->
	<link href="assets/css/color/blue.css" rel="alternate stylesheet" type="text/css" title="blue" />
	<link href="assets/css/color/orange.css" rel="alternate stylesheet" type="text/css" title="orange" />
	<link href="assets/css/color/green.css" rel="alternate stylesheet" type="text/css" title="green" />
	<link href="assets/css/color/red.css" rel="alternate stylesheet" type="text/css" title="red" />
	<link href="assets/css/color/yellow.css" rel="alternate stylesheet" type="text/css" title="yellow" />
	<link href="assets/css/color/gray.css" rel="alternate stylesheet" type="text/css" title="gray" />
	<link href="assets/css/color/pink.css" rel="alternate stylesheet" type="text/css" title="pink" />
	<link href="assets/css/color/mauve.css" rel="alternate stylesheet" type="text/css" title="mauve" />

	<!-- ICONS -->
	<link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon" />
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

	<!-- STYLESWITCHER -->
	<link href="assets/plugins/styleswitcher/styleswitcher.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<%= yield %>


<!-- FOOTER -->
		<footer id="footer">

			<!-- google map -->
			<div id="gmap"></div><a href="#" class="gmapClose"></a>

			<!-- footer buttons -->
			<div id="footerContent">
				<div class="container">

					<h2 data-animation="bounceIn">KEEP IN TOUCH</h2>
					<h3>FOLLOW US</h3>

					<!-- 
						paragraph - short description 
						OR
						<div class="spacer"></div>
					-->
					<p>Contact Stack Software Solutions at support@stacksoftwaresolutions.com to get more information on how we can help you.</p>

					<div class="social">
						<!-- facebook -->
						<a target="_blank" href="#" class="socialbtn facebook"><i class="fa fa-facebook"></i>Facebook</a>
						<!-- twitter -->
						<a target="_blank" href="#" class="socialbtn twitter"><i class="fa fa-twitter"></i>Twitter</a>
						
						<!-- twitter -->
						<a target="_blank" href="#" class="socialbtn twitter"><i class="fa fa-linkedin"></i>LinkedIn</a>
						<!-- skype -->
					
					</div>

				</div>
			</div>
			<!-- /footer buttons -->

		</footer>
		<!-- /FOOTER -->


		<!-- CORE JS FRAMEWORK--> 
		<script type="text/javascript" src="assets/plugins/pace/pace.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-easing/jquery.easing.min.js"></script>
		<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/plugins/isotope/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="assets/plugins/masonry.min.js"></script>
		<script type="text/javascript" src="assets/plugins/smoothscroll.js"></script>
		<script async type="text/javascript" src="assets/plugins/modernizr.min.js"></script>
		<!-- /CORE JS FRAMEWORK--> 

		<!-- PLUGINS -->
		<script type="text/javascript" src="assets/plugins/jquery-fitvids/jquery.fitvids.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-appear/jquery.appear.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-countTo/jquery.countTo.js"></script>
		<script type="text/javascript" src="assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-scrollto/jquery.scrollTo.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-onepage-nav/jquery.nav.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script type="text/javascript" src="assets/plugins/prettyPhoto/js/jquery.prettyPhoto.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-stellar/jquery.stellar.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-bxslider/jquery.bxslider.pack.js"></script>
		<script type="text/javascript" src="assets/plugins/iscroll/iscroll.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery-zoom/jquery.zoom.min.js"></script>
		<!-- /PLUGINS -->

		<script type="text/javascript" src="assets/js/demo.js"></script>
		
		<script type="text/javascript" src="assets/js/scripts.js"></script>
		<script async type="text/javascript" src="assets/js/shop.js"></script>
		<script async type="text/javascript" src="assets/js/contact.js"></script>
		<script async type="text/javascript" src="assets/plugins/styleswitcher/styleswitcher.js"></script>

</body>
</html>
